body {
  margin: 0;
}

@font-face {
  font-family: "pmzd";
  src: url("/sc-datav/font/pmzd.woff2") format("woff2");
}


.compass{
  top: 100px !important;
}
.navigation-controls{
  top: 180px !important;
}